
@import "tailwindcss";

@font-face {
  font-family: 'dmsans';
  src: url('/fonts/DMSans-Regular.ttf') format('truetype');
  font-display: 'swap';
  font-style: 'normal';
}

@font-face {
  font-family: 'qartige';
  src: url('/fonts/qartige.otf') format('truetype');
  font-display: 'swap';
  font-style: 'normal';
}

@font-face {
  font-family: 'space';
  src: url('/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-display: 'swap';
  font-style: 'normal';
}


:root {
  --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #111111;
  color: #ffffff;
  scroll-behavior: smooth;
  font-family: "space", sans-serif;
 
  min-height: 100vh;
}

section {
  width: 100dvw;
}


