@import "tailwindcss";

@font-face {
	font-family: "dmsans";
	src: url("/fonts/DMSans-Regular.ttf") format("truetype");
	font-display: "swap";
	font-style: "normal";
}

@font-face {
	font-family: "qartige";
	src: url("/fonts/qartige.otf") format("truetype");
	font-display: "swap";
	font-style: "normal";
}

@font-face {
	font-family: "space";
	src: url("/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
	font-display: "swap";
	font-style: "normal";
}

@layer base{
  :root {
		--font-qartige: "qartige", sans-serif;
    --font-primary:"dmsans"
	}
}



html,
body {
	width: 100dvw;
	overflow-x: hidden;
	background-color: #111111;
	color: #ffffff;
	scroll-behavior: smooth;
	font-family: "space", sans-serif;
	min-height: 100vh;
}

section {
	width: 100dvw;
}

.embla {
	overflow: hidden;
	width: 100%;
}

.embla__slide {
	flex: 0 0 100%;
	min-width: 0;
}

/* .box {
	box-shadow: 0 0 15px #0947e2;
} */